html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.label {
    margin: 2px;
}

.tags-lables {
    margin: 2px 0px 5px 0px;
}

.clear {
    clear: both;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.link-no-decorate {
    color: inherit;
}

.link-no-decorate:hover {
    color: inherit;
    text-decoration: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 250px;
    margin-bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 250px;
    background-color: rgba(119, 119, 119, 0.26);
}

/*max img 1140x250*/
.carousel-inner > .item > .img {
    text-align: center;
}

.carousel-inner > .item > .img > img {
    height: 250px;
}

/* ARTICLE DECORATION */
.article-date {
    color: #777;
    font-style: italic;
}

.article-content {
    margin: 20px 0px 20px 0px;
}

.article-view img {
    display: block;
    max-width: 100%;
    height: auto;
}

.user-sign {
    color: #777;
}

/* SIDEBAR */
.sidebar-module {
    padding: 15px 15px 15px 15px;
    margin: 0px -15px 15px;
}

.sidebar-module .tag {
    margin: 1px;
    float: left;
}

/* SIZE MORE LESS */
.even-less-60 {
    font-size: 60%;
}

.even-less-50 {
    font-size: 50%;
}

.even-less-40 {
    font-size: 40%;
}

/* SOCIAL */
.social-buttons-item {
    float: left;
}

/* ARTICLE ANNOUNCEMENT DECORATION */
.article-announcement {
    max-width: 450px;
}

.article-announcement .preview {
    position: relative;
    height: 20px;
    overflow: hidden;
}

.article-announcement .fade-out {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    width: 30px;
    height: 20px;
    background: url('/img/fade-out-white.png') top left repeat-y;
}

/* MAIN */
.tile-item {
    margin: 20px 0 10px 0px;
    max-width: 450px;
}

.tile-item .logo-image, .article-list-item .logo-image {
    position: relative;
    max-width: 450px;
}

.tile-item .logo-image img,.article-list-item .logo-image img {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
}

.tile-item .logo-image .shadow,.article-list-item .logo-image .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.tile-item .title{
    margin: 0;
}

.tile-item a {
    display: block;
    text-decoration: none;
    color: #555;
}

.tile-item a:hover .logo-image .shadow {
    opacity: 0.1;
}

.tile-item a:hover .logo-image img {
    -webkit-filter: grayscale(0%);
}

/* ARTICLES LIST DECORATION */
.list-page {

}

.list-page .list-page-item {
    display: block;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

.article-list-item .h3 {
    margin: 2px 0px 2px 0px;
}

.article-list-item .open-list-item {
    display: block;
    text-decoration: none;
    color: #555;
}

.list-page .article-list-item:nth-of-type(odd) {
    background: url('/img/list-background.jpg');
}

.list-page .article-list-item:nth-of-type(odd) .fade-out {
    background: url('/img/fade-out-grey.png') top left repeat-y;
}

.list-page .article-list-item:hover .shadow {
    opacity: 0.1;
}

.list-page .article-list-item:hover img {
    -webkit-filter: grayscale(0%);
}

.tags-block {
    font-size: 15px;
    padding: 2px 0px;
}